/*  Home page/2 column with in 2 column layout
------------------------------------------ */

.page_content {
	width: 96%;
	margin: auto;
}
.col_content {
	width: 90%;
	margin: auto;
	padding: 5% 0;
}
.col_content li {
	margin-bottom: 5px;
}
.col {
	margin-top: 2%;
	border-radius: 5px;
}

.main {
}

.secondary {
	padding-top: 20px;
}
.secondary h2 {
}
.secondary ul {
	padding-left: 5px;
}
.profile-photo {
	float: left;
	margin: 30px 20px;
	width: 30%;
	border-radius: 100%;
}
.intro {
	width 70%;
}

/* Phones to Tablets */

@media only screen and (min-width: 481px) {
	.col {
		float: left;
	}
	.main {
		width: 66%;
	}
	.secondary {
		width: 32%; 
	}
	.secondary {
		margin-left: 2%;
	}
}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) {	
}

/*  Projects page/Gallery layout
------------------------------------------ */
img {
  max-width: 94%;
  margin: 3% 3%;
  border-radius: 5px;
}

.gallery {
  margin-bottom: 10px;
  padding: 5px;
  list-style: none;
}

.gallery li {
  float: left;
  width: 95%;
  margin: 2.5%;
  color: #bdc3c7;
  background: #505050;
}
.gallery iFrame {
  max-width: 94%;
  max-height: 150px;
  margin: 3% 3%;
}
.gallery li a {
	margin: 2%;
	color: #bdc3c7;
	text-decoration: underline;
}
.gallery li p {
	margin: 2%;
	color: #bdc3c7;
}


/* Phones to Tablets */
@media only screen and (min-width: 481px) {
  .gallery li {
    width: 45%;
  }
}

/* Tablets to Desktop */
@media only screen and (min-width: 769px) {	
  .gallery li {
    width: 28.3333%;
  }
}


/*  Contact page/2 column layout
------------------------------------------ */
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em; 
}  

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  color: #7e0909;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

