/*  Home page/2 column with in 2 column layout
------------------------------------------ */

.page_content {
	width: 98%;
}
.col_content {
	width: 90%;
	margin: auto;
	padding: 5% 0;
}
.col_content li {
	margin-bottom: 5px;
}
.col {
	margin-top: 2%;
}

.main {
}

.secondary {
	padding-top: 20px;
}
.secondary h2 {
}
.secondary ul {
	padding-left: 5px;
}
.profile-photo {
	float: left;
	margin: 30px 20px;
	width: 30%;
	border-radius: 100%;
}
.intro {
	width 70%;
}

/* Phones to Tablets */

@media only screen and (min-width: 481px) {
	.col {
		float: left;
	}
	.main {
		width: 66%;
	}
	.secondary {
		width: 32%; 
	}
	.secondary {
		margin-left: 2%;
	}
}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) {	
}

/*  Projects page/Gallery layout
------------------------------------------ */

.gallery {
  margin-bottom: 10px;
  list-style: none;
}

.gallery li {
  float: left;
  margin: 1%;
  width: 90%;
}


.project {
  position: relative;
  overflow: hidden;
}
  
.project img {
  border-radius: 2px;
  border: #bdc3c7 solid 1px;
  width: 99%;
}
  
.project a .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  background: rgba(255,255,255,0.68);
  transition: all 0.8s ease-out;
  opacity: 0;
}

.project a:hover .mask {
  opacity:1;
}
  
.project a .mask h3 {
  display:inline-block;
  margin-top: 20%;
  padding: 3px 12px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background: #505050;
  color: #fff;
  border-radius: 2px;
}
 
.project a .mask p {
  font-size: 15px;
  color: #505050;
}
/* Phones to Tablets */
@media only screen and (min-width: 481px) {
  .gallery li {
    width: 45%;
  }
}

/* Tablets to Desktop */
@media only screen and (min-width: 767px) {	
  .gallery li {
    width: 30%;
  }
}
  
@media all and (max-width: 767px) {
  .project a .mask {
    position: relative;
    background: none;
    opacity: 1;
    margin-top: 0;
    }
  .project a .mask h3 {
    margin-top: 0;
    }
}

.mask em {
  font-family: Baskerville, 'Adobe Garamond Pro', Times, serif;
  font-style: italic;
}
  
.hide * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


/*  Contact page/2 column layout
------------------------------------------ */
.contact-info {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  font-size: 0.9em; 
}  

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin:  0 0 0 10px;
  color: #7e0909;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

